.toolbar {
    padding: 0px;
}

.brand {
    padding-right: 8px;
}

.spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.search-wrapper {
    height: 32px;
   
    display: flex;
    background-color: white;
    border-radius: 4px;
}
.search-input:focus{
    outline: none;
}
.search-input {
    width: calc(100% - 40px);
    border: none;
    display: flex;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 18px;
}

.search-icon mat-icon {
    color: black;
    padding-bottom: 10px;
}
.account-icon{
    margin-right: 8px;
    
}
.account-icon mat-icon{
    font-size: 32px;
}

@media screen and (min-width: 768px){
    .search-wrapper{
        width: 400px;
    }
    .account-icon{
        margin-right: 1rem;
    }
}