<mat-toolbar class="toolbar">
    <button mat-icon-button class="menu-icon"(click)="inputSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand">GoCart</span>
    <span class="spacer">
        <form>
            <div class="search-wrapper">
                <input class="search-input">
                <button mat-icon-button class="search-icon">
                    <mat-icon>search</mat-icon>
                  </button>
            </div>
        </form>
    </span>
    <button mat-icon-button class="account-icon" >
      <mat-icon>account_box</mat-icon>
    </button>
    
  </mat-toolbar>