<div class="main" style="background-color: rgb({{x}},{{y}},{{z}});">
    
    <div class="child" style="background-color: rgb({{a}},{{b}},{{c}});margin-top: 250px">
        <div class="child-pic">

        </div>
    </div>
    <div class="child" style="background-color: rgb({{a}},{{b}},{{c}});margin-top: 150px">
        <div class="child-pic-2">

        </div>
    </div>
    <div class="child" style="background-color: rgb({{a}},{{b}},{{c}});margin-top: 50px">
        <div class="child-pic-3">

        </div>
    </div>
</div>