.main{
    height: 100%;
    width: 100%;
    display: flex;
}
.child{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    padding: 10px;
    border: 15px solid rgb(74, 24, 24);
    
    margin: auto;
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
        box-shadow: 0 0 10px rgb(0, 0, 0);
    

}
.child-pic{
    height: 100%;
    width: 100%;
    background-image: url(https://i.etsystatic.com/13080073/r/il/5f6e87/2243958946/il_794xN.2243958946_45za.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.child-pic-2{
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/564x/26/77/f7/2677f78d05c22cf402313ec4d616188b.jpg);
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.child-pic-3{
    height: 100%;
    width: 100%;
    background-image: url();
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
mat-form-field{
    width: 50px;
}